<!DOCTYPE html>
<html lang="en-US">
<head>
	<link rel="stylesheet" href="styles.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script src="app.js"></script>
</head>
<body ng-app="myApp">

<!-- build template and directive to display header -->
<div id="not_h1">Things to bring to College</div>
<div ng-controller="ListSetController as listSet">

	<!-- build template and directive to display List Sets -->
	<form name="listSetForm">
		<ul id="lists" ng-repeat="list in listSet.lists">
			<li><label id="list_title">{{list.title}}</label>
				<table>
					<tr>
						<th>Select</th>
						<th>Title</th>
						<th>Description</th>
					</tr>
					<tr id ="list" ng-repeat="item in list.listItems">
						<td class="checkCol"><input type="checkbox" id="lItem"></td>
						<div>
							<td><label id="cellListData">{{item.title}}</label></td>
							<td><label id="cellListData">{{item.description}}</label></td>
						</div>
					</tr>
				</table>
			</li>
		</ul>
	</form>
</div>
</body>
</html>