<!DOCTYPE html>
<html lang="en-US">
<head>
	<link rel="stylesheet" href="styles.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script src="app.js"></script>
</head>
<body ng-app="myApp">

<!-- build template and directive to display header -->
<div id="not_h1">Things to bring to College</div>
<div ng-controller="ListController as aList">

	<!-- build template and directive to display List Sets -->
	<ul id="lists" ng-repeat="list in aList.lists">
		<li><label id="list_title">{{list.title}}</label>
			<ul id = "list" ng-repeat="item in list.listItems">
				<li>
					<input type="checkbox" id="sub1_1">
					<label>{{item.title}}</label>
				</li>
			</ul>
		</li>
	</ul>
</div>
</body>
</html>