<div ng-switch="$ctrl.listType">
	<ul id="lists" ng-switch-when="incomplete">
		<div ng-if="$ctrl.list.listItems.length > 0 || $ctrl.list.isNew;">
			<incomplete-list-form
				list="$ctrl.list" 
				list-type="$ctrl.listType"
    		add-list-item="$ctrl.addListItem()"
    		remove-list="$ctrl.removeList()" 
  			remove-list-item="$ctrl.removeListItem()" 
  			update-list-item="$ctrl.updateListItem()" 
    		toggle-completed="$ctrl.toggleCompleted()">
    	</incomplete-list-form>
		</div>			
	</ul>
	<ul id="lists" ng-switch-when="completed"> 
		<completed-list-form 
				list="$ctrl.list" 
				list-type="$ctrl.listType"
    		add-list-item="$ctrl.addListItem()"
    		remove-list="$ctrl.removeList()" 
  			remove-list-item="$ctrl.removeListItem()" 
  			update-list-item="$ctrl.updateListItem()" 
    		toggle-completed="$ctrl.toggleCompleted()">
	  </completed-list-form>			
	</ul>
</div>