<list-tables 
  list="list" 
  add-list-item="$ctrl.addListItem" 
  remove-list="$ctrl.removeList" 
  remove-list-item="$ctrl.removeListItem" 
  update-list-item="$ctrl.updateListItem" 
  toggle-completed="$ctrl.toggleCompleted"  
  ng-repeat="list in $ctrl.lists"
  list-type="$ctrl.listType">
</list-tables>
<div ng-hide="$ctrl.listType==='completed'">
  <div id="formSeperator"></div>
  <div id="newListForm">
    <new-list-form 
      add-list="$ctrl.addList">
    </new-list-form>
  </div>
</div>